sudo: true

language: generic

#dist: precise

git:
  depth: 10

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      #      - clang-3.8
      - gcc-6
      - g++-6

matrix:
  include:
    # Linux
    - os: linux
      compiler: gcc
      env: NODE_VERSION="14"
    - os: linux
      compiler: gcc
      env: NODE_VERSION="16"
    - os: linux
      compiler: gcc
      env: NODE_VERSION="18"
    # OS X
    - os: osx
      compiler: gcc
      env: NODE_VERSION="14"
    - os: osx
      compiler: gcc
      env: NODE_VERSION="16"
    - os: osx
      compiler: gcc
      env: NODE_VERSION="18"

before_install:
  - source ./scripts/install_node.sh ${NODE_VERSION}
  - if [[ $(uname -s) == 'Linux' ]]; then
    sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-6 /usr/bin/gcc;
    sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-6 /usr/bin/g++;
    fi;
  - gcc --version

install:
  # put node-pre-gyp on path
  - export PATH=./node_modules/.bin/:$PATH

script:
  - ./scripts/build_against_node.sh;
