sudo: true

language: generic

dist: focal

git:
  depth: 10

matrix:
  include:
    # Linux
    - os: linux
      compiler: gcc
      env: NODE_VERSION="14"
    - os: linux
      compiler: gcc
      env: NODE_VERSION="16"
    - os: linux
      compiler: gcc
      env: NODE_VERSION="18"
    # OS X
    - os: osx
      compiler: gcc
      env: NODE_VERSION="14"
    - os: osx
      compiler: gcc
      env: NODE_VERSION="16"
    - os: osx
      compiler: gcc
      env: NODE_VERSION="18"

before_install:
  - sudo apt-get update
  - sudo apt-get install python3
  - source ./scripts/install_node.sh ${NODE_VERSION}
  - gcc --version

install:
  # put node-pre-gyp on path
  - export PATH=./node_modules/.bin/:$PATH

script:
  - ./scripts/build_against_node.sh;
