name: Node CI

on: [push]

jobs:
  build:

    runs-on: [windows-latest]

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build
      run: |
        npm --vs2015 install --global windows-build-tools
        python --version
        npm config set python python2.7
        npm config set msvs_version 2015
        npm install --build-from-source
      env:
        CI: true
